*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#1ed760;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.product{
    width:780px;
    height:520px;
    background:#fff;
    border-radius:8px;
    display:flex;
    box-shadow:0 20px 35px rgba(0,0,0,.18);
    position:relative;
}

/* LEFT CARD */

.product__photo{
    width:42%;
    position:relative;
}

.photo-container{
    position:absolute;
    top:25px;
    left:-35px;
    width:320px;
}

.photo-main{
    background:#9BE22D;
    border-radius:8px 8px 0 0;
    padding:15px;
    height:390px;
    position:relative;
    box-shadow:0 15px 25px rgba(0,0,0,.2);
}

.controls{
    display:flex;
    justify-content:space-between;
    color:#fff;
    font-size:18px;
}

.photo-main img{
    width:125%;
    position:absolute;
    left:-55px;
    top:55px;
}

.photo-album{
    background:#fff;
    border-radius:0 0 8px 8px;
    padding:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.photo-album ul{
    display:flex;
    justify-content:space-between;
    list-style:none;
}

.photo-album li{
    width:55px;
    height:55px;
    border:1px solid #ddd;
    display:flex;
    justify-content:center;
    align-items:center;
}

.photo-album img{
    width:40px;
}

/* RIGHT SIDE */

.product__info{
    width:58%;
    padding:45px 40px;
}

.title h1{
    color:#4c4c4c;
    font-size:34px;
    margin-bottom:5px;
}

.title span{
    color:#999;
    font-size:12px;
    letter-spacing:1px;
}

.price{
    margin:35px 0;
    color:#ff4d4d;
    font-size:26px;
}

.price span{
    font-size:60px;
    font-weight:300;
}

.variant h3,
.description h3{
    color:#9b9b9b;
    font-size:13px;
    letter-spacing:1px;
    margin-bottom:12px;
}

.variant ul{
    list-style:none;
    display:flex;
    gap:10px;
    margin-bottom:30px;
}

.variant li{
    width:34px;
    height:34px;
    border:1px solid #ddd;
    border-radius:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.variant li:first-child{
    border:2px solid #9BE22D;
}

.variant img{
    width:22px;
}

.description ul{
    margin-left:18px;
    color:#666;
    line-height:2;
    font-size:14px;
}

button{
    margin-top:35px;
    background:#ff4d4d;
    color:#fff;
    border:none;
    padding:16px 42px;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:6px;
    cursor:pointer;
    box-shadow:0 10px 20px rgba(255,77,77,.4);
}

button:hover{
    background:#ff3838;
}